@font-face {
    font-family: 'Aeonik-Light';
    src: url('../AeonikFonts/Aeonik-Light.otf');
}
@font-face {
    font-family: 'Aeonik-LightItalic';
    src: url('../AeonikFonts/Aeonik-LightItalic.otf');
}
@font-face {
    font-family: 'Aeonik-Thin';
    src: url('../AeonikFonts/Aeonik-Thin.otf');
}
@font-face {
    font-family: 'Aeonik-ThinItalic';
    src: url('../AeonikFonts/Aeonik-ThinItalic.otf');
}
@font-face {
    font-family: 'Aeonik-Regular';
    src: url('../AeonikFonts/Aeonik-Regular.otf');
}
@font-face {
    font-family: 'Aeonik-RegularItalic';
    src: url('../AeonikFonts/Aeonik-RegularItalic.otf');
}
@font-face {
    font-family: 'Aeonik-Medium';
    src: url('../AeonikFonts/Aeonik-Medium.otf');
}
@font-face {
    font-family: 'Aeonik-MediumItalic';
    src: url('../AeonikFonts/Aeonik-MediumItalic.otf');
}
@font-face {
    font-family: 'Aeonik-Bold';
    src: url('../AeonikFonts/Aeonik-Bold.otf');
}
@font-face {
    font-family: 'Aeonik-BoldItalic';
    src: url('../AeonikFonts/Aeonik-BoldItalic.otf');
}
@font-face {
    font-family: 'Aeonik-Black';
    src: url('../AeonikFonts/Aeonik-Black.otf');
}
@font-face {
    font-family: 'Aeonik-BlackItalic';
    src: url('../AeonikFonts/Aeonik-BlackItalic.otf');
}
