:root {
    --pc-skeleton-page-max-width: 62.375rem;
    --pc-skeleton-page-max-width-narrow: 41.375rem;
}
.Polaris-SkeletonPage__Title_2qj8j {
    font-size: var(--p-font-size-300);
    font-weight: var(--p-font-weight-semibold);
    line-height: var(--p-font-line-height-4);
}
@media screen and (-ms-high-contrast: active) {
    .Polaris-SkeletonPage__SkeletonTitle_7v6f2 {
        background-color: grayText;
    }
}
.Polaris-Layout_sl20u {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(var(--p-space-5) * -1);
    margin-top: calc(var(--p-space-4) * -1);
}
@media print {
    body .Polaris-Layout_sl20u {
        font-size: var(--p-font-size-75);
        line-height: var(--p-font-line-height-1);
    }
    .Polaris-Layout_sl20u a,
    .Polaris-Layout_sl20u button {
        color: var(--p-color-text);
    }
}
.Polaris-Layout__Section_1b1h1 {
    flex: 2 2 30rem;
    min-width: 51%;
}
@media print {
    .Polaris-Layout__Section_1b1h1 {
        flex: 2 2 22.5rem;
    }
}
.Polaris-Layout__Section--secondary_1sx8i {
    flex: 1 1 15rem;
    min-width: 0;
}
.Polaris-Layout__Section--fullWidth_3l6fs {
    flex: 1 1 100%;
}
.Polaris-Layout__Section--oneHalf_1qmuc {
    flex: 1 1 28.125rem;
    min-width: 0;
}
.Polaris-Layout__Section--oneThird_170z4 {
    flex: 1 1 15rem;
    min-width: 0;
}
.Polaris-Layout__AnnotatedSection_1nyfl {
    flex: 1 1 100%;
    min-width: 0;
}
.Polaris-Layout__AnnotatedSection_1nyfl,
.Polaris-Layout__Section_1b1h1 {
    margin-left: var(--p-space-5);
    margin-top: var(--p-space-4);
    max-width: calc(100% - var(--p-space-5));
}
@media (min-width: 30.625em) {
    .Polaris-Layout__AnnotatedSection_1nyfl + .Polaris-Layout__AnnotatedSection_1nyfl,
    .Polaris-Layout__Section_1b1h1 + .Polaris-Layout__AnnotatedSection_1nyfl {
        border-top: var(--p-border-width-1) solid var(--p-color-border-subdued);
        padding-top: var(--p-space-4);
    }
}
.Polaris-Layout__AnnotationWrapper_xpmgu {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--p-space-5) * -1);
    margin-top: calc(var(--p-space-4) * -1);
}
.Polaris-Layout__AnnotationContent_36su2 {
    flex: 2 2 30rem;
}
.Polaris-Layout__Annotation_1a51c {
    flex: 1 1 15rem;
    padding: var(--p-space-4) var(--p-space-5) 0;
}
@media (min-width: 30.625em) {
    .Polaris-Layout__Annotation_1a51c {
        padding: var(--p-space-4) 0 0;
    }
}
@media (min-width: 48em) {
    .Polaris-Layout__Annotation_1a51c {
        padding: var(--p-space-5) var(--p-space-5) var(--p-space-5) 0;
    }
}
.Polaris-Layout__AnnotationContent_36su2,
.Polaris-Layout__Annotation_1a51c {
    margin-left: var(--p-space-5);
    margin-top: var(--p-space-4);
    max-width: calc(100% - var(--p-space-5));
    min-width: 0;
}
.Polaris-LegacyCard_l5l93 {
    background-color: var(--p-color-bg);
    box-shadow: var(--p-shadow-md);
    outline: var(--p-border-width-1) solid #0000;
}
.Polaris-LegacyCard_l5l93 + .Polaris-LegacyCard_l5l93 {
    margin-top: var(--p-space-4);
}
@media print {
    .Polaris-LegacyCard_l5l93 + .Polaris-LegacyCard_l5l93 {
        margin-top: calc(var(--p-space-2) * -1);
    }
}
.Polaris-LegacyCard_l5l93 + [class^="Polaris-Card"] {
    margin-top: var(--p-space-4);
}
@media print {
    .Polaris-LegacyCard_l5l93 + [class^="Polaris-Card"] {
        margin-top: calc(var(--p-space-2) * -1);
    }
}
@media (min-width: 30.625em) {
    .Polaris-LegacyCard_l5l93 {
        border-radius: var(--p-border-radius-2);
    }
}
@media print {
    .Polaris-LegacyCard_l5l93 {
        box-shadow: none;
    }
}
.Polaris-LegacyCard--subdued_17vaa {
    background-color: var(--p-color-bg-subdued);
}
@media print {
    .Polaris-LegacyCard--hideOnPrint_1nslv,
    .Polaris-LegacyCard__Section--hideOnPrint_f883o {
        display: none !important;
    }
}
.Polaris-LegacyCard__Header_z4uwg {
    padding: var(--p-space-4) var(--p-space-4) 0;
}
@media (min-width: 30.625em) {
    .Polaris-LegacyCard__Header_z4uwg {
        padding: var(--p-space-5) var(--p-space-5) 0;
    }
}
@media print and (min-width: 30.625em) {
    .Polaris-LegacyCard__Header_z4uwg {
        padding: var(--p-space-2) var(--p-space-4) 0;
    }
}
.Polaris-LegacyCard__Section_1b1h1 {
    padding: var(--p-space-4);
}
@media (min-width: 30.625em) {
    .Polaris-LegacyCard__Section_1b1h1 {
        padding: var(--p-space-5);
    }
}
.Polaris-LegacyCard__Section_1b1h1 + .Polaris-LegacyCard__Section_1b1h1 {
    border-top: var(--p-border-width-1) solid var(--p-color-border-subdued);
}
@media print {
    .Polaris-LegacyCard__Section_1b1h1 + .Polaris-LegacyCard__Section_1b1h1 {
        border-top: 0;
    }
    .Polaris-LegacyCard__Section_1b1h1 {
        padding-bottom: var(--p-space-1);
        padding-top: var(--p-space-1);
    }
}
.Polaris-LegacyCard__Section_1b1h1:first-child {
    border-top-left-radius: var(--p-border-radius-2);
    border-top-right-radius: var(--p-border-radius-2);
}
.Polaris-LegacyCard__Section_1b1h1:last-child {
    border-bottom-left-radius: var(--p-border-radius-2);
    border-bottom-right-radius: var(--p-border-radius-2);
}
.Polaris-LegacyCard__Section--fullWidth_3l6fs {
    padding: var(--p-space-4) 0;
}
@media (min-width: 30.625em) {
    .Polaris-LegacyCard__Section--fullWidth_3l6fs {
        padding: var(--p-space-5) 0;
    }
}
.Polaris-LegacyCard__Section--flush_1tjqa {
    padding: 0;
}
@media (min-width: 30.625em) {
    .Polaris-LegacyCard__Section--flush_1tjqa {
        padding: 0;
    }
}
.Polaris-LegacyCard__Section--subdued_3jppn {
    background-color: var(--p-color-bg-subdued);
}
@media (-ms-high-contrast: active) {
    .Polaris-LegacyCard__Section--subdued_3jppn {
        background-color: initial;
    }
}
.Polaris-LegacyCard__Header_z4uwg + .Polaris-LegacyCard__Section--subdued_3jppn {
    border-top: var(--p-border-width-1) solid var(--p-color-border-subdued);
    margin-top: var(--p-space-5);
}
.Polaris-LegacyCard__SectionHeader_1aytf {
    padding-bottom: var(--p-space-2);
}
.Polaris-LegacyCard__Section--fullWidth_3l6fs .Polaris-LegacyCard__SectionHeader_1aytf {
    padding-left: var(--p-space-4);
    padding-right: var(--p-space-4);
}
@media (min-width: 30.625em) {
    .Polaris-LegacyCard__Section--fullWidth_3l6fs .Polaris-LegacyCard__SectionHeader_1aytf {
        padding-left: var(--p-space-5);
        padding-right: var(--p-space-5);
    }
}
.Polaris-LegacyCard__Subsection_197ob + .Polaris-LegacyCard__Subsection_197ob {
    border-top: var(--p-border-width-1) solid var(--p-color-border-subdued);
    margin-top: var(--p-space-4);
    padding-top: var(--p-space-4);
}
@media print {
    .Polaris-LegacyCard__Subsection_197ob + .Polaris-LegacyCard__Subsection_197ob {
        border-top: 0;
    }
    .Polaris-LegacyCard__Subsection_197ob {
        padding-bottom: var(--p-space-1);
        padding-top: var(--p-space-1);
    }
}
.Polaris-LegacyCard__Footer_z4ij5 {
    display: flex;
    justify-content: flex-end;
    padding: 0 var(--p-space-4) var(--p-space-4);
}
@media (min-width: 30.625em) {
    .Polaris-LegacyCard__Footer_z4ij5 {
        padding: 0 var(--p-space-5) var(--p-space-5);
    }
}
.Polaris-LegacyCard__Footer_z4ij5.Polaris-LegacyCard__LeftJustified_1ldly {
    justify-content: flex-start;
}
.Polaris-LegacyCard__Section--subdued_3jppn + .Polaris-LegacyCard__Footer_z4ij5 {
    border-top: var(--p-border-width-1) solid var(--p-color-border-subdued);
    padding: var(--p-space-5);
}
.Polaris-LegacyStack_eaeo0 {
    --pc-stack-spacing: var(--p-space-4);
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--pc-stack-spacing) * -1);
    margin-top: calc(var(--pc-stack-spacing) * -1);
}
.Polaris-LegacyStack_eaeo0 > .Polaris-LegacyStack__Item_yiyol {
    margin-left: var(--pc-stack-spacing);
    margin-top: var(--pc-stack-spacing);
    max-width: 100%;
}
.Polaris-LegacyStack--noWrap_vecks {
    flex-wrap: nowrap;
}
.Polaris-LegacyStack--spacingNone_1b3d3 {
    --pc-stack-spacing: 0;
}
.Polaris-LegacyStack--spacingExtraTight_gv6hw {
    --pc-stack-spacing: var(--p-space-1);
}
.Polaris-LegacyStack--spacingTight_1o4d6 {
    --pc-stack-spacing: var(--p-space-2);
}
.Polaris-LegacyStack--spacingBaseTight_nb78v {
    --pc-stack-spacing: var(--p-space-3);
}
.Polaris-LegacyStack--spacingLoose_yte7q {
    --pc-stack-spacing: var(--p-space-5);
}
.Polaris-LegacyStack--spacingExtraLoose_1ptvt {
    --pc-stack-spacing: var(--p-space-8);
}
.Polaris-LegacyStack--distributionLeading_rudtn {
    justify-content: flex-start;
}
.Polaris-LegacyStack--distributionTrailing_z5d5z {
    justify-content: flex-end;
}
.Polaris-LegacyStack--distributionCenter_60gbr {
    justify-content: center;
}
.Polaris-LegacyStack--distributionEqualSpacing_x9cqm {
    justify-content: space-between;
}
.Polaris-LegacyStack--distributionFillEvenly_aehjo > .Polaris-LegacyStack__Item_yiyol,
.Polaris-LegacyStack--distributionFill_1c1lq > .Polaris-LegacyStack__Item_yiyol {
    flex: 1 1 auto;
}
@supports ((min-width: -webkit-fit-content) or (min-width: -moz-fit-content) or (min-width: fit-content)) {
    .Polaris-LegacyStack--distributionFillEvenly_aehjo > .Polaris-LegacyStack__Item_yiyol {
        flex: 1 0;
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
    }
}
.Polaris-LegacyStack--alignmentLeading_1pu7t {
    align-items: flex-start;
}
.Polaris-LegacyStack--alignmentTrailing_cp27m {
    align-items: flex-end;
}
.Polaris-LegacyStack--alignmentCenter_1rtaw {
    align-items: center;
}
.Polaris-LegacyStack--alignmentFill_m3d4l {
    align-items: stretch;
}
.Polaris-LegacyStack--alignmentBaseline_aupj5 {
    align-items: baseline;
}
.Polaris-LegacyStack--vertical_uiuuj {
    flex-direction: column;
    margin-left: 0;
}
.Polaris-LegacyStack--vertical_uiuuj > .Polaris-LegacyStack__Item_yiyol {
    margin-left: 0;
}
.Polaris-LegacyStack__Item_yiyol {
    flex: 0 0 auto;
    min-width: 0;
}
.Polaris-LegacyStack__Item--fill_vpuzt {
    flex: 1 1 auto;
}
.Polaris-SkeletonBodyText_4hwgi {
    background-color: var(--p-color-bg-strong);
    border-radius: var(--p-border-radius-1);
    display: flex;
    height: var(--p-space-2);
}
@media screen and (-ms-high-contrast: active) {
    .Polaris-SkeletonBodyText_4hwgi {
        background-color: grayText;
    }
}
.Polaris-SkeletonBodyText_4hwgi:last-child:not(:first-child) {
    width: 80%;
}
.Polaris-SkeletonBodyText_4hwgi + .Polaris-SkeletonBodyText_4hwgi {
    margin-top: var(--p-space-3);
}
.Polaris-TextField_1spwi {
    --pc-text-field-contents: 20;
    --pc-text-field-backdrop: 10;
    align-items: center;
    border: none;
    color: var(--p-color-text);
    cursor: text;
    display: flex;
    font-size: var(--p-font-size-200);
    font-weight: var(--p-font-weight-regular);
    letter-spacing: normal;
    line-height: var(--p-font-line-height-3);
    position: relative;
    text-transform: none;
}
@media (min-width: 48em) {
    .Polaris-TextField_1spwi {
        font-size: var(--p-font-size-100);
    }
}
.Polaris-TextField_1spwi svg {
    fill: var(--p-color-icon);
}
.Polaris-TextField_1spwi:focus-within .Polaris-TextField__ClearButton_b7wzn {
    opacity: 1;
    visibility: visible;
}
.Polaris-TextField_1spwi:not(:focus-within) .Polaris-TextField__ClearButton_b7wzn {
    opacity: 0;
    visibility: hidden;
}
.Polaris-TextField--multiline_1jgfe {
    flex-wrap: wrap;
    padding: 0;
}
.Polaris-TextField--multiline_1jgfe > .Polaris-TextField__Input_30ock {
    overflow: auto;
    padding-left: var(--p-space-3);
    padding-right: var(--p-space-3);
    resize: none;
}
.Polaris-TextField--hasValue_1mx8d {
    color: var(--p-color-text);
}
.Polaris-TextField--focus_383dj > .Polaris-TextField__Input_30ock,
.Polaris-TextField--focus_383dj > .Polaris-TextField__VerticalContent_edn5f,
.Polaris-TextField__Input_30ock:focus-visible {
    outline: none;
}
.Polaris-TextField--focus_383dj > .Polaris-TextField__Input_30ock ~ .Polaris-TextField__Backdrop_1x2i2:after,
.Polaris-TextField--focus_383dj > .Polaris-TextField__VerticalContent_edn5f ~ .Polaris-TextField__Backdrop_1x2i2:after,
.Polaris-TextField__Input_30ock:focus-visible ~ .Polaris-TextField__Backdrop_1x2i2:after {
    box-shadow: 0 0 0 0.125rem var(--p-color-border-interactive-focus);
    outline: var(--p-border-width-1) solid #0000;
}
.Polaris-TextField--error_37uk1 > .Polaris-TextField__Input_30ock ~ .Polaris-TextField__Backdrop_1x2i2 {
    background-color: var(--p-color-bg-critical-subdued);
    border-color: var(--p-color-border-critical);
}
.Polaris-TextField--error_37uk1 > .Polaris-TextField__Input_30ock ~ .Polaris-TextField__Backdrop_1x2i2:after {
    border-color: var(--p-color-border-interactive-focus);
}
.Polaris-TextField--readOnly_vi6ia > .Polaris-TextField__Backdrop_1x2i2 {
    background-color: var(--p-color-bg-disabled);
}
.Polaris-TextField--disabled_hcuh9 {
    color: var(--p-color-text-disabled);
    cursor: auto;
}
.Polaris-TextField--disabled_hcuh9 > .Polaris-TextField__Backdrop_1x2i2 {
    background-color: var(--p-color-bg-disabled);
    border-color: var(--p-color-border-disabled);
    border-top-color: var(--p-color-border-disabled);
}
.Polaris-TextField--disabled_hcuh9 svg {
    fill: var(--p-color-icon-disabled);
}
.Polaris-TextField__Input_30ock {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: var(--p-border-width-1) solid #0000;
    caret-color: var(--p-color-text);
    color: var(--p-color-text);
    display: block;
    flex: 1 1;
    font-family: var(--p-font-family-sans);
    font-size: var(--p-font-size-200);
    font-weight: var(--p-font-weight-regular);
    letter-spacing: normal;
    line-height: var(--p-font-line-height-2);
    margin: 0;
    min-height: 2.25rem;
    min-width: 0;
    padding: calc((2.25rem - var(--p-font-line-height-3) - var(--p-space-05)) / 2) var(--p-space-3);
    position: relative;
    text-transform: none;
    width: 100%;
    z-index: var(--pc-text-field-contents);
}
@media (min-width: 48em) {
    .Polaris-TextField__Input_30ock {
        font-size: var(--p-font-size-100);
        line-height: var(--p-font-line-height-2);
    }
}
.Polaris-TextField__Prefix_10fbz + .Polaris-TextField__Input_30ock {
    padding-left: 0;
}
.Polaris-TextField__Input_30ock:disabled {
    -webkit-text-fill-color: var(--p-color-text-disabled);
    background: none;
    color: var(--p-color-text-disabled);
    opacity: 1;
}
.Polaris-TextField__Input_30ock:invalid {
    box-shadow: none;
}
.Polaris-TextField__Input_30ock::placeholder {
    color: var(--p-color-text-subdued);
}
.Polaris-TextField__Input_30ock[type="number"] {
    -webkit-appearance: textfield;
    appearance: textfield;
}
.Polaris-TextField__Input_30ock[type="number"]::-webkit-inner-spin-button,
.Polaris-TextField__Input_30ock[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.Polaris-TextField__Input_30ock:-webkit-autofill {
    border-radius: var(--p-border-radius-1);
}
.Polaris-TextField__Input_30ock.Polaris-TextField--suggestion_yv4pe::selection {
    background: #0000;
    color: var(--p-color-text-disabled);
}
.Polaris-TextField--borderless_1dsfi .Polaris-TextField__Backdrop_1x2i2,
.Polaris-TextField--borderless_1dsfi .Polaris-TextField__Input_30ock {
    border: none;
    line-height: var(--p-font-line-height-1);
    min-height: var(--p-space-8);
}
.Polaris-TextField__Input--hasClearButton_15k6h[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
.Polaris-TextField__Input--suffixed_1tsyu {
    padding-right: 0;
}
.Polaris-TextField__Input--alignRight_1d0yj {
    text-align: right;
}
.Polaris-TextField__Input--alignLeft_exwxn {
    text-align: left;
}
.Polaris-TextField__Input--alignCenter_7nhdy {
    text-align: center;
}
.Polaris-TextField__Backdrop_1x2i2 {
    background-color: var(--p-color-bg);
    border: var(--p-border-width-1) solid var(--p-color-border-input);
    border-top-color: #898f94;
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: var(--pc-text-field-backdrop);
}
.Polaris-TextField__Backdrop_1x2i2,
.Polaris-TextField__Backdrop_1x2i2:after {
    border-radius: var(--p-border-radius-1);
    pointer-events: none;
    position: absolute;
}
.Polaris-TextField__Backdrop_1x2i2:after {
    bottom: -0.125rem;
    box-shadow: 0 0 0 -0.125rem var(--p-color-border-interactive-focus);
    content: "";
    display: block;
    left: -0.125rem;
    right: -0.125rem;
    top: -0.125rem;
    transition: box-shadow var(--p-motion-duration-100) var(--p-motion-ease);
    z-index: 1;
}
.Polaris-TextField__Prefix_10fbz,
.Polaris-TextField__Suffix_10fbu {
    color: var(--p-color-text-subdued);
    flex: 0 0 auto;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    z-index: var(--pc-text-field-contents);
}
.Polaris-TextField__Prefix_10fbz {
    margin-left: var(--p-space-3);
    margin-right: var(--p-space-2);
}
.Polaris-TextField__Suffix_10fbu {
    margin-left: var(--p-space-1);
    margin-right: var(--p-space-3);
}
.Polaris-TextField__VerticalContent_edn5f {
    border: var(--p-border-width-1) solid #0000;
    color: var(--p-color-text-subdued);
    max-height: 8.75rem;
    overflow: scroll;
    padding: var(--p-space-2) var(--p-space-2) 0 var(--p-space-2);
    position: relative;
    width: 100%;
    z-index: var(--pc-text-field-contents);
}
.Polaris-TextField__VerticalContent_edn5f > .Polaris-TextField__Input_30ock {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 30.625em) {
    .Polaris-TextField__VerticalContent_edn5f {
        max-height: 20.5rem;
    }
}
.Polaris-TextField__CharacterCount_163be {
    color: var(--p-color-text-subdued);
    margin: 0 var(--p-space-3) 0 var(--p-space-1);
    pointer-events: none;
    text-align: right;
    z-index: var(--pc-text-field-contents);
}
.Polaris-TextField__AlignFieldBottom_9rm8m {
    align-self: flex-end;
    padding-bottom: var(--p-space-2);
    width: 100%;
}
.Polaris-TextField__ClearButton_b7wzn {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    margin: 0 var(--p-space-3) 0 var(--p-space-1);
    padding: 0;
    position: relative;
    transition: visibility var(--p-motion-duration-200) var(--p-motion-ease-in-out), opacity var(--p-motion-duration-200) var(--p-motion-ease-in-out);
    z-index: var(--pc-text-field-contents);
}
.Polaris-TextField__ClearButton_b7wzn:after {
    border-radius: var(--p-border-radius-1);
    bottom: -0.0625rem;
    box-shadow: 0 0 0 -0.0625rem var(--p-color-border-interactive-focus);
    content: "";
    display: block;
    left: -0.0625rem;
    pointer-events: none;
    position: absolute;
    right: -0.0625rem;
    top: -0.0625rem;
    transition: box-shadow var(--p-motion-duration-100) var(--p-motion-ease);
    z-index: 1;
}
.Polaris-TextField__ClearButton_b7wzn:focus {
    outline: none;
}
.Polaris-TextField__ClearButton_b7wzn:focus-visible:enabled:after {
    box-shadow: 0 0 0 0.125rem var(--p-color-border-interactive-focus);
    outline: var(--p-border-width-1) solid #0000;
}
.Polaris-TextField__ClearButton_b7wzn:disabled {
    cursor: default;
}
.Polaris-TextField__Spinner_mzr5w {
    --pc-text-field-spinner-offset-large: calc(0.125rem + var(--p-border-width-1));
    align-self: stretch;
    color: var(--p-color-icon);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: var(--pc-text-field-spinner-offset-large);
    visibility: hidden;
    width: 1.375rem;
    z-index: var(--pc-text-field-contents);
}
.Polaris-TextField--focus_383dj .Polaris-TextField__Spinner_mzr5w,
.Polaris-TextField_1spwi:hover .Polaris-TextField__Spinner_mzr5w {
    visibility: visible;
}
.Polaris-TextField__SpinnerIcon_185nu {
    height: 0.75rem;
    width: 0.75rem;
}
.Polaris-TextField__Resizer_mlqsu {
    bottom: 0;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    visibility: hidden;
}
.Polaris-TextField__DummyInput_1u3lq {
    word-wrap: break-word;
    border: none;
    font-size: var(--p-font-size-200);
    font-weight: var(--p-font-weight-regular);
    letter-spacing: normal;
    line-height: var(--p-font-line-height-3);
    overflow-wrap: break-word;
    padding: calc((2.25rem - var(--p-font-line-height-3) - var(--p-space-05)) / 2) var(--p-space-3);
    text-transform: none;
    white-space: pre-wrap;
    word-break: break-word;
}
@media (min-width: 48em) {
    .Polaris-TextField__DummyInput_1u3lq {
        font-size: var(--p-font-size-100);
    }
}
.Polaris-TextField__Segment_xdd2a {
    --pc-text-field-spinner-border-radius: calc(var(--p-border-radius-1) - 0.125rem);
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    background: var(--p-color-bg-strong);
    border: none;
    border-radius: var(--pc-text-field-spinner-border-radius);
    display: flex;
    flex: 1 1;
    justify-content: center;
}
.Polaris-TextField__Segment_xdd2a:focus {
    outline: none;
}
.Polaris-TextField__Segment_xdd2a:active {
    background: var(--p-color-bg-strong-active);
}
.Polaris-TextField__Segment_xdd2a:first-child {
    border-top-right-radius: var(--pc-text-field-spinner-border-radius);
    margin-bottom: var(--p-space-05);
}
.Polaris-TextField__Segment_xdd2a:last-child {
    border-bottom-right-radius: var(--pc-text-field-spinner-border-radius);
}
.Polaris-TextField__Segment_xdd2a:not(:first-child) {
    margin-top: 0;
}
.Polaris-TextField--monospaced_2esgp {
    font-family: var(--p-font-family-mono);
}
.Polaris-Labelled--hidden_riqie > .Polaris-Labelled__LabelWrapper_bf6ys {
    border: 0 !important;
    clip-path: inset(50%) !important;
    height: 0.0625rem !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    top: 0;
    white-space: nowrap !important;
    width: 0.0625rem !important;
}
.Polaris-Labelled__LabelWrapper_bf6ys {
    word-wrap: break-word;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: var(--p-space-1);
    overflow-wrap: break-word;
    word-break: break-word;
}
.Polaris-Labelled__HelpText_8qj1a {
    margin-top: var(--p-space-1);
}
.Polaris-Labelled__Error_37uk0 {
    word-wrap: break-word;
    margin-top: var(--p-space-1);
    overflow-wrap: break-word;
    word-break: break-word;
}
.Polaris-Labelled__Action_r96cs {
    flex: 0 0 auto;
}
.Polaris-InlineError_1g623 {
    fill: var(--p-color-icon-critical);
    color: var(--p-color-text-critical);
    display: flex;
}
.Polaris-InlineError__Icon_yj27d {
    fill: currentColor;
    margin-left: calc(var(--p-space-05) * -1);
    margin-right: calc(var(--p-space-05) + var(--p-space-1));
}
.Polaris-Label_2vd36 {
    -webkit-tap-highlight-color: transparent;
}
.Polaris-Label--hidden_riqie {
    border: 0 !important;
    clip-path: inset(50%) !important;
    height: 0.0625rem !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    top: 0;
    white-space: nowrap !important;
    width: 0.0625rem !important;
}
.Polaris-Label__Text_yj3uv {
    -webkit-tap-highlight-color: transparent;
    color: currentColor;
    display: block;
    flex: 1 1 auto;
}
.Polaris-Label__RequiredIndicator_1homk:after {
    color: var(--p-color-text-critical);
    content: "*";
    margin-left: var(--p-space-1);
}
.Polaris-Connected_wopc9 {
    --pc-connected-item: 10;
    --pc-connected-primary: 20;
    --pc-connected-focused: 30;
    display: flex;
    position: relative;
}
.Polaris-Connected__Item_yiyol {
    flex: 0 0 auto;
    position: relative;
    z-index: var(--pc-connected-item);
}
.Polaris-Connected__Item_yiyol:not(:first-child) {
    margin-left: var(--p-space-1);
}
.Polaris-Connected__Item--primary_rmh5m {
    flex: 1 1 auto;
    z-index: var(--pc-connected-primary);
}
.Polaris-Connected__Item--focused_1iwi4 {
    z-index: var(--pc-connected-focused);
}
.Polaris-PageActions_fcnua {
    border-top: var(--p-border-width-1) solid var(--p-color-border-subdued);
    margin: 0 auto;
    padding: var(--p-space-5);
}
@media (min-width: 30.625em) {
    .Polaris-PageActions_fcnua {
        padding: var(--p-space-5) 0;
    }
}
._TopBar_wma8r_1 {
    align-items: center;
    background-color: var(--osui_color-frame-surface-bg);
    border: 0;
    box-shadow: 0 0.125rem 0.0625rem #0000000d, 0 0 0.0625rem #42474c73;
    display: flex;
    flex: 0 0 auto;
    height: var(--osui_height-frame-header);
    position: relative;
}
._loading_wma8r_12 {
    padding-left: 1rem;
    padding-right: 1rem;
}
._slim_wma8r_17 {
    --osui_height-frame-header: 2.75rem;
}
._slim_wma8r_17._usesBottomSheet_wma8r_20 {
    --osui_height-frame-header: 3.5rem;
}
._LoadingSkeleton_wma8r_24 {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    justify-content: space-between;
}
._LoadingSkeleton_wma8r_24 > div {
    flex: 0 1 20%;
}
@media (max-width: 41.6775em) {
    ._LoadingSkeleton_wma8r_24 > div:nth-child(3) {
        display: none;
    }
}
._Divider_1mmfo_1 {
    background-color: var(--p-color-border-subdued);
    height: 100%;
    width: 0.0625rem;
}
._ExitActionWrapper_1bfis_1 {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
}
._ExitAction_1bfis_1 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: var(--p-border-radius-1);
    color: inherit;
    color: var(--p-color-text);
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 auto;
    font-size: inherit;
    font-size: 0.9375rem;
    font-weight: var(--p-font-weight-medium);
    justify-content: center;
    letter-spacing: normal;
    line-height: inherit;
    line-height: 1rem;
    line-height: 1;
    margin: 0;
    max-width: 100%;
    min-height: 2.25rem;
    min-width: 0;
    min-width: 2.25rem;
    outline: none;
    padding: 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    transition-duration: var(--p-duration-150);
    transition-property: color, background-color;
    transition-timing-function: var(--p-ease);
}
._ExitAction_1bfis_1:focus {
    outline: none;
}
@media (min-width: 48em) {
    ._ExitAction_1bfis_1 {
        font-size: 0.875rem;
    }
}
._ExitAction_1bfis_1 svg {
    fill: var(--p-color-icon);
}
._ExitAction_1bfis_1:after {
    border-radius: calc(var(--p-border-radius-1) + 0.0625rem);
    bottom: -0.0625rem;
    box-shadow: 0 0 0 -0.0625rem var(--p-color-border-interactive-focus);
    content: "";
    display: block;
    left: -0.0625rem;
    pointer-events: none;
    position: absolute;
    right: -0.0625rem;
    top: -0.0625rem;
    transition: box-shadow 0.1s var(--p-ease);
    z-index: 1;
}
._ExitAction_1bfis_1:focus:after {
    box-shadow: 0 0 0 0.125rem var(--p-color-border-interactive-focus);
    outline: 0.0625rem solid #0000;
}
._ExitAction_1bfis_1:focus:not(:focus-visible):after {
    box-shadow: 0 0 0 0 #0000;
}
@media (-ms-high-contrast: active) {
    ._ExitAction_1bfis_1:focus:not(:focus-visible):after {
        outline: none;
    }
}
._ExitAction_1bfis_1:focus-visible:after {
    box-shadow: 0 0 0 0.125rem var(--p-color-border-interactive-focus);
    outline: 0.0625rem solid #0000;
}
._ExitAction_1bfis_1 svg {
    transition: fill var(--p-duration-150) var(--p-ease);
}
._ExitAction_1bfis_1:focus-visible {
    background-color: var(--osui_color-plain-button-bg);
    color: var(--p-color-icon-hover);
}
._ExitAction_1bfis_1:focus-visible svg {
    fill: var(--p-color-text);
}
@media (-ms-high-contrast: active) {
    ._ExitAction_1bfis_1:focus-visible svg {
        fill: var(--p-color-icon-subdued);
    }
}
@media (hover: hover) and (pointer: fine) {
    ._ExitAction_1bfis_1:hover {
        background-color: var(--osui_color-plain-button-bg);
        color: var(--p-color-icon-hover);
    }
    ._ExitAction_1bfis_1:hover svg {
        fill: var(--p-color-text);
    }
}
@media (hover: hover) and (pointer: fine) and (-ms-high-contrast: active) {
    ._ExitAction_1bfis_1:hover svg {
        fill: var(--p-color-icon-subdued);
    }
}
._ExitAction_1bfis_1:active {
    background-color: var(--osui_color-plain-button-bg-active);
    color: var(--p-color-icon-hover);
}
._ExitAction_1bfis_1:active svg {
    fill: var(--p-color-text);
}
@media (-ms-high-contrast: active) {
    ._ExitAction_1bfis_1:active svg {
        fill: var(--p-color-icon-subdued);
    }
}
@media (min-width: 41.6875em) {
    ._ExitAction_1bfis_1 {
        border-radius: 0;
        color: var(--p-color-text);
        height: 100%;
        justify-content: left;
    }
    ._ExitAction_1bfis_1:after {
        border-radius: 0.125rem;
        bottom: 0.1875rem;
        left: 0.1875rem;
        right: 0.1875rem;
        top: 0.1875rem;
    }
    ._ExitAction_1bfis_1:before {
        background-color: var(--p-color-border-subdued);
        bottom: 0;
        content: "";
        position: absolute;
        right: -0.0625rem;
        top: 0;
        transition: opacity var(--p-duration-150) var(--p-ease);
        width: 0.0625rem;
    }
    ._ExitAction_1bfis_1:focus-visible:before {
        opacity: 0;
    }
    ._animated_1bfis_154 ._ExitAction_1bfis_1 {
        left: 0;
        position: absolute;
        top: 0;
        z-index: 2;
    }
    ._animated_1bfis_154 ._ExitAction_1bfis_1,
    ._animated_1bfis_154 ._ExitAction_1bfis_1:hover {
        background-color: var(--osui_color-frame-surface-bg);
    }
    ._animated_1bfis_154 ._ExitAction_1bfis_1:active {
        background-color: var(--osui_color-plain-button-bg-active);
    }
}
._Content_1bfis_169 {
    align-items: center;
    display: flex;
    overflow: hidden;
}
@media (min-width: 41.6875em) {
    ._Content_1bfis_169 {
        height: 100%;
        min-width: 3.5rem;
    }
    ._animated_1bfis_154 ._Content_1bfis_169 {
        height: calc(100% - 0.0625rem);
        max-width: 3.5rem;
        transition: max-width var(--p-duration-150) var(--p-ease);
    }
    ._animated_1bfis_154 ._ExitAction_1bfis_1:focus ._Content_1bfis_169,
    ._animated_1bfis_154 ._ExitAction_1bfis_1:hover ._Content_1bfis_169 {
        max-width: 11.25rem;
    }
}
._IconWrapper_1bfis_190,
._Label_1bfis_189 {
    flex: 0 0 auto;
    max-width: 100%;
    min-width: 0;
}
@media (min-width: 41.6875em) {
    ._IconWrapper_1bfis_190 {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 3.5rem;
    }
}
._Label_1bfis_189 {
    margin-left: -0.5rem;
    max-width: 7.75rem;
    padding-right: 0.75rem;
}
._Label_1bfis_189 > * {
    line-height: 1.1;
    padding-bottom: 0.14em;
}
@supports (-webkit-line-clamp: 2) {
    ._Label_1bfis_189 > * {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
    }
}
._animated_1bfis_154 ._Label_1bfis_189 {
    opacity: 0;
    transform: translateX(-0.5rem);
    transition-duration: var(--p-duration-150);
    transition-property: opacity, transform;
    transition-timing-function: var(--p-ease);
}
._animated_1bfis_154 ._ExitAction_1bfis_1:active ._Label_1bfis_189,
._animated_1bfis_154 ._ExitAction_1bfis_1:focus ._Label_1bfis_189,
._animated_1bfis_154 ._ExitAction_1bfis_1:hover ._Label_1bfis_189 {
    opacity: 1;
    transform: translateX(0);
}
._ChildrenWrapper_1bfis_235 {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: nowrap;
    gap: 0.75rem;
    height: 100%;
    max-width: 100%;
    min-width: 0;
    padding-left: 0.5rem;
    position: relative;
    z-index: 1;
}
@media (min-width: 41.6875em) {
    ._animated_1bfis_154 ._ChildrenWrapper_1bfis_235 {
        padding-left: 4.25rem;
        transition-duration: var(--p-duration-150);
        transition-property: opacity, transform;
        transition-timing-function: var(--p-ease);
    }
    ._animated_1bfis_154 ._ExitAction_1bfis_1:active + ._ChildrenWrapper_1bfis_235,
    ._animated_1bfis_154 ._ExitAction_1bfis_1:focus + ._ChildrenWrapper_1bfis_235,
    ._animated_1bfis_154 ._ExitAction_1bfis_1:hover + ._ChildrenWrapper_1bfis_235 {
        opacity: 0;
        transform: translateX(0.5rem);
    }
}
._Title_1psgz_1 > * {
    line-height: 1.1;
    padding-bottom: 0.14em;
}
@supports (-webkit-line-clamp: 2) {
    ._Title_1psgz_1 > * {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
    }
}
@media (min-width: 41.6875em) {
    ._Title_1psgz_1 {
        max-width: 20vw;
    }
}
._LayoutGroup_qdl00_1 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    max-width: 100%;
    min-width: 0;
}
._grow_qdl00_10 {
    flex-grow: 1;
}
._shrink_qdl00_14 {
    flex-shrink: 1;
}
._center_qdl00_18 {
    justify-content: center;
}
._distributeSpace_qdl00_22 {
    justify-content: space-between;
}
._alignRight_qdl00_26 {
    margin-left: auto;
}
._paddedBoth_qdl00_30 {
    padding-left: 1rem;
    padding-right: 1rem;
}
._paddedBoth_qdl00_30._usesBottomSheet_qdl00_34 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
._paddedLeft_qdl00_39 {
    padding-left: 1rem;
}
._paddedRight_qdl00_43 {
    padding-right: 1rem;
}
._spacingNone_qdl00_47 > * + * {
    margin-left: 0;
}
._spacingBase_qdl00_51 > * + * {
    margin-left: 1rem;
}
._spacingTight_qdl00_55 > * + * {
    margin-left: 0.5rem;
}
._spacingLoose_qdl00_59 > * + * {
    margin-left: 1.25rem;
}
._spacingBase-tight_qdl00_63 > * + * {
    margin-left: 0.75rem;
}
._spacingExtra-tight_qdl00_67 > * + * {
    margin-left: 0.25rem;
}
._alignBaseline_qdl00_71 {
    align-items: baseline;
}
._Item_1u7o4_1 {
    flex: 0 0 auto;
    max-width: 100%;
    min-width: 0;
}
._offsetLeft_1u7o4_7 {
    margin-left: -0.5rem;
}
._offsetRight_1u7o4_11 {
    margin-right: -0.5rem;
}
._grow_1u7o4_15 {
    flex: 1 1 auto;
    max-width: 37.5rem;
    min-width: 4rem;
}
.Polaris-SkeletonDisplayText__DisplayText_1u0t8 {
    --pc-skeleton-display-text-height: var(--p-font-line-height-2);
    --pc-skeleton-display-text-height-not-condensed: var(--p-font-line-height-2);
    background-color: var(--p-color-bg-strong);
    border-radius: var(--p-border-radius-1);
    display: flex;
    max-width: 7.5rem;
}
@media screen and (-ms-high-contrast: active) {
    .Polaris-SkeletonDisplayText__DisplayText_1u0t8 {
        background-color: grayText;
    }
}
.Polaris-SkeletonDisplayText--sizeSmall_7647q {
    --pc-skeleton-display-text-height: var(--p-font-line-height-3);
    --pc-skeleton-display-text-height-not-condensed: var(--p-font-line-height-4);
    height: var(--pc-skeleton-display-text-height);
}
@media (min-width: 48em) {
    .Polaris-SkeletonDisplayText--sizeSmall_7647q {
        height: var(--pc-skeleton-display-text-height-not-condensed);
    }
}
.Polaris-SkeletonDisplayText--sizeMedium_5f35p {
    --pc-skeleton-display-text-height: var(--p-font-line-height-4);
    --pc-skeleton-display-text-height-not-condensed: var(--p-font-line-height-5);
    height: var(--pc-skeleton-display-text-height);
}
@media (min-width: 48em) {
    .Polaris-SkeletonDisplayText--sizeMedium_5f35p {
        height: var(--pc-skeleton-display-text-height-not-condensed);
    }
}
.Polaris-SkeletonDisplayText--sizeLarge_61dxo {
    --pc-skeleton-display-text-height: var(--p-font-line-height-4);
    --pc-skeleton-display-text-height-not-condensed: var(--p-font-line-height-5);
    height: var(--pc-skeleton-display-text-height);
}
@media (min-width: 48em) {
    .Polaris-SkeletonDisplayText--sizeLarge_61dxo {
        height: var(--pc-skeleton-display-text-height-not-condensed);
    }
}
.Polaris-SkeletonDisplayText--sizeExtraLarge_1akox {
    --pc-skeleton-display-text-height: 2.25rem;
    --pc-skeleton-display-text-height-not-condensed: 2.75rem;
    height: var(--pc-skeleton-display-text-height);
}
@media (min-width: 48em) {
    .Polaris-SkeletonDisplayText--sizeExtraLarge_1akox {
        height: var(--pc-skeleton-display-text-height-not-condensed);
    }
}
.Polaris-SkeletonThumbnail_u7qua {
    --pc-skeleton-thumbnail-extra-small-size: 1.5rem;
    --pc-skeleton-thumbnail-small-size: 2.5rem;
    --pc-skeleton-thumbnail-medium-size: 3.75rem;
    --pc-skeleton-thumbnail-large-size: 5rem;
    background-color: var(--p-color-bg-strong);
    border-radius: var(--p-border-radius-1);
    display: flex;
}
@media screen and (-ms-high-contrast: active) {
    .Polaris-SkeletonThumbnail_u7qua {
        background-color: grayText;
    }
}
.Polaris-SkeletonThumbnail--sizeExtraSmall_1twbb {
    height: var(--pc-skeleton-thumbnail-extra-small-size);
    width: var(--pc-skeleton-thumbnail-extra-small-size);
}
.Polaris-SkeletonThumbnail--sizeSmall_7647q {
    height: var(--pc-skeleton-thumbnail-small-size);
    width: var(--pc-skeleton-thumbnail-small-size);
}
.Polaris-SkeletonThumbnail--sizeMedium_5f35p {
    height: var(--pc-skeleton-thumbnail-medium-size);
    width: var(--pc-skeleton-thumbnail-medium-size);
}
.Polaris-SkeletonThumbnail--sizeLarge_61dxo {
    height: var(--pc-skeleton-thumbnail-large-size);
    width: var(--pc-skeleton-thumbnail-large-size);
}
