{% extends 'admin/base.html' %}
{% load static %}

{% block links %}
  <link rel="icon" type="image/png" href="{% static 'admin_assets/images/favicon/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{% static 'admin_assets/images/favicon/favicon.svg' %}" />
  <link rel="shortcut icon" href="{% static 'admin_assets/images/favicon/favicon.ico' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'admin_assets/images/favicon/apple-touch-icon.png' %}" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="{% static 'admin_assets/images/favicon/site.webmanifest' %}" />
  <!-- favicon end -->

  <!-- plugin css -->
  <!-- <link rel="stylesheet" href="{% static 'admin_assets/css/all.css' %}"> -->
  <link href="{% static 'admin_assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />

  <!-- preloader css -->
  <link rel="stylesheet" href="{% static 'admin_assets/css/preloader.min.css' %}" type="text/css" />

  <!-- Bootstrap Css -->
  <link href="{% static 'admin_assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />

  <!-- Icons Css -->
  <link href="{% static 'admin_assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- App Css-->
  <link href="{% static 'admin_assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

  <!-- Fonts -->
  <link rel="stylesheet" href="{% static 'admin_assets/css/AeonikFont.css' %}">

  <!-- Datatable -->
  <link rel="stylesheet" href="{% static 'admin_assets/css/datatable.min.css' %}">
{% endblock %}


{% block content %}
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  <h4 class="mb-sm-0 font-size-18">Contact Inquiry</h4>
                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                      <li class="breadcrumb-item active">Contact Inquiry</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
  
  
            <div class="searchfilters">
              <div class="row">
                <div class="col-md-7">
                  <div class="card">
                    <div class="card-body">
                      <form method="get" action="">
                        <div class="form-group d-flex align-items-center justify-content-between gap-2">
                          <input class="form-control" type="text" name="query" placeholder="Search..." value="{{ request.GET.query }}">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    
            <div class="dataTableSec listtable">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover news-entry-view datatable">
                      <thead class="table-sticky-top">
                        <tr>
                          <th width="10">S.No.</th>
                          <th width="">Name</th>
                          <th>Email</th>
                          <th>Description</th>
                          <th width="200">Phone</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                              Yash Gupta
                          </td>
                          <td>yash243mac@gamil.com</td>
                          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut expedita iusto, magni qui voluptates praesentium doloribus esse quae nobis non! Eum inventore dolorem beatae dignissimos quia animi aspernatur fuga debitis.</td>
                          <td>+91 8750957915</td>
                        </tr>
  
                        <tr>
                          <td>2</td>
                          <td>
                              Abhishek Thakur
                          </td>
                          <td>at639867@gamil.com</td>
                          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut expedita iusto, magni qui voluptates praesentium doloribus esse quae nobis non! Eum inventore dolorem beatae dignissimos quia animi aspernatur fuga debitis.</td>
                          <td>+91 7985142638</td>
                        </tr>
                        
            
                      </tbody>
                    </table>
                  </div>
  
                 
                </div>
              </div>
            </div>

        </div>

{% endblock %}

{% block scripts %}
    <!-- JAVASCRIPT -->
<script src="{% static 'admin_assets/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin_assets/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'admin_assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'admin_assets/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'admin_assets/libs/feather-icons/feather.min.js' %}"></script>
<!-- pace js -->
<script src="{% static 'admin_assets/libs/pace-js/pace.min.js' %}"></script>
<!-- apexcharts -->
<script src="{% static 'admin_assets/libs/apexcharts/apexcharts.min.js' %}"></script>
<!-- Plugins js-->
<script src="{% static 'admin_assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'admin_assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'admin_assets/js/pages/datatable-pages.init.js' %}"></script>
<!-- dashboard init -->
<script src="{% static 'admin_assets/js/pages/dashboard.init.js' %}"></script>
<!-- data table -->
<script src="{% static 'admin_assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin_assets/js/datatables.min.js' %}"></script>
<script src="{% static 'admin_assets/js/app.js' %}"></script>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1');
</script>

{% endblock %}